.grid {
  width: 100%;
  transition: opacity 0.3s ease-in-out;
  .grid-item {
    width: calc(33.3333333% - 6px);
    border: 3px solid white;
    margin: 0;
    cursor: pointer;
    @include media-query($on-laptop) {
      width: calc(50% - 6px);
    }
    @include media-query($on-palm) {
      width: calc(100% - 6px);
    }
    img {
      width: 100%;
      height: 100%;
      margin: 0;
    }
    .title {
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      color: white;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 0.3s linear;
      cursor: pointer;
    }
    &:hover .title {
      opacity: 1;
    }
  }
}
#zoom {
  position: absolute;
  width: 100%;
  height: 0;
  z-index: 9999;
  text-align: center;
  opacity: 0;
  cursor: pointer;
  .title {
    font-size: 2em;
  }
  img {
    max-height: 90%;
    max-width: 100%;
    margin: 0 auto;
  }
}
.zoom {
  #zoom {
    transition: all 0.25s ease-in-out;
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
  }
  .post-content, header {
    display: none;
  }
}
.throbber {
  position: absolute;
  width: 100vw;
  height: 70vh;
  background: white;
  text-align: center;
  z-index: 999;
  display: none;
  flex-direction: column;
  justify-content: center;

  .spinner {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin: 1em auto;
    border: 0.3em solid #ddd;
    border-top-color: #fff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: spin 1.1s infinite linear;
    animation: spin 1.1s infinite linear;
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
.loading {
  .throbber {
    display: flex;
  }
  .grid {
    opacity: 0;
  }
}